
        <div class="card">
            <div *ngFor="let stops of ($$favorites|async); let i=index;">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                     <button (click)="onRemove(i);" mat-icon-button>
                       <mat-icon >delete</mat-icon>

                    </button>
                    <mat-slide-toggle (change)="onChange(i,stops)">

                    </mat-slide-toggle>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      Stop: {{stops.StopID}} - {{stops.Name}}
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5">
                    <a (click)="onAddMap(stops);" *ngFor="let route of stops.Routes">{{route}} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>




