


          <mat-accordion>
            <mat-expansion-panel *ngFor="let stops of ($$favorites|async); let i=index;" (closed)="onClosed()" (opened)="onOpened(stops.StopID)">
              <mat-expansion-panel-header >
                <mat-panel-title>
                  <button (click)="onRemove(i);" mat-icon-button>
                    <mat-icon >delete</mat-icon>
                 </button>

                </mat-panel-title>
                <mat-panel-description>
                  Stop: {{stops.StopID}} - {{stops.Name}}
                  Routes:<a *ngFor="let route of stops.Routes">{{route}}</a>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-slide-toggle [checked]="currentSelection[i]?.checked" (change)="onChange(i,stops)">
                </mat-slide-toggle>
              <div *ngIf="selectedStop!=null||selectedStop!=undefined||selectedStop">
                <app-stop-table [selectedStop]="selectedStop"></app-stop-table>
              </div>

              </mat-expansion-panel>
              </mat-accordion>
{{show}}
