
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div *ngFor="let stops of ($$favorites|async); let i=index;">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                     <button (click)="onRemove(i);" mat-icon-button> <mat-icon >delete</mat-icon> </button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      Stop: {{stops.StopID}} - {{stops.Name}}
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-5">
                    <a (click)="onAddMap(stops);" *ngFor="let route of stops.Routes">{{route}} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <app-stop-table></app-stop-table>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
  </div>
</div>

