/*Strip the ul of padding and list styling*/
ul {
  list-style-type:none;
  margin:0;
  padding:1.5rem 0rem 1.5rem 0rem;
  margin-left:5rem;
}
/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  margin-right: 1.5rem;
}

.bottom-toolbar{
  margin-top: 2rem;
  position: fixed;
  bottom:0%;
  z-index: 1;
}



